<div class='row portfolio-boxes' id='portfolio-container'>
  <div class='col-sm-3 portfolio-box portfolio-item'>
    <a href='#'>
      <div class='image-link'>
        <i class='fa-icon-search'></i>
                        <% if store.name.start_with?('Paddy') %>
                <img class="img-responsive img-rounded center-block" alt="Title" width="273" height="186" src="/assets/Paddy-keg.gif" />
                <% elsif store.name.start_with?('Lotus') %>
                <img class="img-responsive img-rounded center-block" alt="Title" width="273" height="186" src="/assets/LotusYoga.jpg" />
                <% elsif store.name.start_with?('IXL') %>
                <img class="img-responsive img-rounded center-block" alt="Title" width="273" height="186" src="/assets/ixl_logo.jpg" />
                <% else %>
                <img class="img-responsive img-rounded center-block" alt="Title" width="273" height="186" src="/assets/lulus.png" />
                <% end %>

      </div>
      <h3 class='title'><%= store.name %></h3>
      <p class='category'><%= link_to "Add", membership_add_path(:store => store.id), method: "create" %></p>
    </a>
  </div>
</div>
