<% provide(:title, 'All stores') %>
<h1>All Memberships</h1>
<%= will_paginate %>
<ul class="stores">
  <% @stores.each do |store| %>
    <li>
      
      <%= link_to store.name, store %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>