<style type="text/css">
  #mobloyalty-embed-widget {
    width:150px;
    height:150px;
    overflow:auto;
    padding: 4px;
    border: 1px solid black;
    font-family:verdana;
    background-color:#333333;
    color: #ffffff;
  }  
  #mobloyalty-embed-widget h3 {
    font-size: 16px;
    color: #ffffff;
    text-align:center;
    margin: 4px auto;
  }
  #mobloyalty-embed-widget h3 a {
    font-size: 14px;
    text-style: italic;
    color: #ffffff;
  }
</style>
    
<div id="mobloyalty-embed-widget">

  <a href="https://www.mobloyalty.com/signup"><img alt="Mob Loyalty - Awesome Rewards program Logo" height="90" src="MobLogo2.png" width="150" /></a>
    <h3>Join the mob today, for free! <a href="https://www.mobloyalty.com/signup">Click Here!</a></h3>
    <div class="mobloyalty-embed-content">
    </div>
</div>