<% provide(:title, 'Business Registration') %> 
<div id="main-content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 icon-box">
 <!-- icon -->
      <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
        <i class="fa-icon-pencil text-white"></i>
      </div>
 
      <div class="content">
        <h1 class="title">Widget</h1>
        <h6 class="title"><small>Have your own site? Get your customers to register easily!</small></h6>
      </div>
 
      </div>
    </div>
  </div>
</div>
<div id="main-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <h3>Copy the following into a div tag on your main page</h3>

      <code>&lt;script src="https://www.mobloyalty.com/widgets/mobloyalty.js" type="text/javascript"&gt;&lt;/script&gt;</code>
      </div>
    </div>
  </div>
 