<footer id="footer">

<div id="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 clearfix">
                <p class="copyright">
                  Copyright
                  &copy;
                  2013 MOB Loyalty
                </p>
                <div class="links">
                
                  <a href="#" class="btn btn-circle btn-medium-light btn-sm">
                    <i class="fa-icon-twitter text-dark"></i>
                  </a>
                  <a href="#" class="btn btn-circle btn-medium-light btn-sm">
                    <i class="fa-icon-dribbble text-dark"></i>
                  </a> 
                  <a href="https://www.facebook.com/MobLoyaltyUS" class="btn btn-circle btn-medium-light btn-sm">
                    <i class="fa-icon-facebook text-dark"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
</footer>      