<!--<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner"> -->
<header id="header">
  <div class="container">
    <nav class="navbar navbar-default" id="nav">
      <div class="navbar-header">
 
        <!-- navigation toggler on small screens -->
        <button class="navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
              <!-- <%= link_to "mob loyalty", '#', id: "logo" %> -->
      <a class="navbar-brand" href="#">mob loyalty <span class="label label-danger">BETA</span></a>

    </div>
    
    </nav>
  </div>
</header>