<div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="stand-out-form">
              <h4><i class="icon-download"></i> Get it free 30 day</h4>
              <form class="text-left">
                <fieldset>
                  <div class="form-group">
                    <label for="exampleInputEmail">First name</label>
                    <input type="text" placeholder="Enter your first name" id="exampleInputFirstName" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail">Last name</label>
                    <input type="text" placeholder="Enter your last name" id="exampleInputLastName" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail">Phone</label>
                    <input type="text" placeholder="Enter your phone number" id="exampleInputPhoneNumber" class="form-control">
                  </div>                    
                  <div class="form-group">
                    <label for="exampleInputEmail">Email address</label>
                    <input type="email" placeholder="Enter your email address" id="exampleInputEmail" class="form-control">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-red">Download now</button>
                  </div>                      
                </fieldset>
              </form>             
            </div>
          </div>
        </div>
      </div>
      
</div>
