<section class="bgslider-wrapper" id="home">
 <div class="home-contain custom-height">
   <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <a class="logo margintop60" href="#home"><img alt="" src="img/logo.png"></a>
        <div class="da-slider" id="da-slider" style="background-position: 482850% 0%;">
          <div class="stand-out-form">
          <h4> Sign In</h4>
            <form class="text-left">
              <fieldset>
                <div class="form-group">
                  <label for="exampleInputEmail">Email address</label>
                  <input type="email" placeholder="Enter your email address" id="exampleInputEmail" class="form-control">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="btn-group">
                  <button class="btn btn-success" type="submit">Sign in</button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-success" type="submit">Forgot your Password?</button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-success" type="submit">Clear</button>
                </div>
              </fieldset>
            </form>
          </div>          
        </div>  
      </div>  
      <div class="col-lg-5  col-lg-offset-2">
        <div class="stand-out-form">
         <h4><span class="glyphicon glyphicon-registration-mark"></span> Registration</h4>
         <form class="text-left">
          <fieldset>
           <div class="form-group">
            <label for="exampleInputEmail">First name</label>
            <input type="text" placeholder="Enter your first name" id="exampleInputFirstName" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Last name</label>
            <input type="text" placeholder="Enter your last name" id="exampleInputLastName" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Phone</label>
            <input type="text" placeholder="Enter your phone number" id="exampleInputPhoneNumber" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email address</label>
            <input type="email" placeholder="Enter your email address" id="exampleInputEmail" class="form-control">
          </div>
          <div class="form-group">
            <label for="examplePassword">Password</label>
            <input type="password" placeholder="Enter your Password" id="examplePassword" class="form-control">
          </div>                    
          <div class="form-group">
            <label for="examplePassword">Confirmation</label>
            <input type="password" placeholder="Re-Enter your Password" id="examplePassword" class="form-control">
          </div>                    
          <div class="btn-group">
            <button class="btn btn-lg btn-danger">Merchant </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-lg btn-danger">Customer </button>
          </div>											
        </fieldset>
      </form>							
    </div>
  </div>

</div>
</div>
</div>
</section>