<div id="tac_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-content">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 id="myModalLabel">MobLoyalty Terms and Conditions!</h3>
  </div>
  <div class="modal-body">
<p>This privacy policy explains how Mob Loyalty uses your data. Capitalized terms have the meaning given to them in the Mob Loyalty User Terms and Conditions, which is available at Terms and Conditions.</p>

<p>Mob Loyalty respects your right to privacy. Generally, Mob Loyalty will not make your personal information available to third parties without your consent, subject to this privacy policy. This privacy statement explains Mob Loyalty' policy regarding the collection, use, disclosure and protection of Personal Information. The terms of this privacy statement apply unless different terms are specified as part of a special offer or in another contract.</p>

<h4>Personal Information</h4>

<p>“Personal Information” is information that can be directly associated with a specific person or entity such as a customer’s name, address, telephone number, e-mail address, credit card number, or information about activities directly linked to that person, such as his or her purchases. Personal Information also includes information that you may choose to provide to us, such as your educational, consumer and employment history profile. We collect Personal Information that you provide to us, such as when you register for Mob Loyalty, provide MobLoyalty with any information or otherwise contact us, when you use any loyalty rewards or plans that Mob Loyalty makes available, or when you take any consumer actions with respect to participating vendors (including making purchases or entering the physical location of such vendor).</p>

<p>If you choose to provide Personal Information to us, we will not share this information with third parties or other Mob Loyalty users without your explicit permission, except when required by law, regulation, subpoena or court order or as expressly set forth herein.</p>

<p>We may use Personal Information internally – for example, to process your visits and provide you with reliable loyalty plans and rewards and to tell you about specific goods and services we believe will be of interest to you. If you prefer not to receive promotional information from us, we make it easy for you to let us know. You can contact us at any time to decline promotional information by emailing us at contact@MobLoyalty.com. We may also contact you periodically in order to provide you with service announcements regarding Mob Loyalty, but these messages will not contain promotional information. In addition, we use Personal Information to diagnose problems with our servers, to make Mob Loyalty more useful and to customize Mob Loyalty and personalize its content for you.</p>

<h4>Location-Based Services</h4>

<p>The Application may provide Mob Loyalty with information regarding your actual location. MobLoyalty will collect this information only if you allow the Application to access your location through your mobile device. Mob Loyalty uses this data for anonymous statistical purposes (see below under “Statistical Information”). If you choose to make your visit available to Vendors, Mob Loyalty will also notify the applicable Vendor when you are present in the physical location of such Vendor. Mob Loyalty may provide you with different options for providing such location information to Vendors, and you may change your selection at any time by accessing the Profile tab of the Application. Except as anonymized statistical information or to Vendors (if you consent), Mob Loyalty will not share your location with any third party.</p>

<h4>Vendors</h4>

<p>Mob Loyalty offers you to register using a &quot;Mob Loyalty username&quot; or using a third party service (e.g. foursquare, facebook).</p>

<p>Mob Loyalty does not provide participating vendors with your phone number or email address, or any other means of contacting you directly except through the Mob Loyalty system. If you have registered using a third party service – Mob Loyalty will keep follow the privacy policy of the third party service. Mob Loyalty 'business, however, is to provide you with loyalty plans and rewards that enhance your shopping and consumer experience. In order to achieve this goal, Mob Loyalty provides vendors that you specify with some of your Personal Information, including your past shopping and/or visit history and (if you consent) if you are physically located at such vendor’s store location (see above under the heading “Location-Based Services”).</p>

<p>Any personal information you provide to a vendor or any other third party is provided directly to this third-party and is subject to that third party’s provider’s privacy policy. Except as described above, Mob Loyalty is not responsible for the content or privacy practices of participating vendors or other third parties. We encourage you to learn about the privacy practices of vendors or other third parties before providing them with personal information.</p>

<h4>Statistical Information</h4>

<p>“Personal Information” does not include statistical information. By analyzing your use of our system we may compile certain statistical information, such as anonymous information about how users use our service. In addition, when you use MobLoyalty certain statistical information may be gathered about your usage of the product and used for diagnostic purposes and improving Mob Loyalty. This may include certain information that MobLoyalty automatically receives from your mobile device, such as time patterns and feature usage. Statistical data helps understand trends and customer needs so that new products and services can be considered and in order to tailor existing products and services to customer desires. Aggregate statistical information is anonymous and will not be linked to any Personal Information for provision to third parties. We may share such anonymous statistical information with our partners, without restriction, on commercial terms that we can determine in our sole discretion.</p>

<h4>Communities</h4>

<p>Mob Loyalty forms a community around each of its vendors. You may post photos to your community or share text posts. The administrator of the community is MobLoyalty and a person authorized in behalf of the vendors owner. Such administrator may delete content from the community or post it on third party services communities (e.g. Facebook)</p>

<h4>Use of MobLoyalty by Children</h4>

<p>Mob Loyalty does not knowingly collect personally identifiable information from children under the age of 13, and you must be 18 years of age or older in order to establish an account. Parents are able to set up accounts for their children. In this way verifiable parental consent is required in order to register a child under the age of 13 to be enrolled, and any parent setting up an account for his or her hereby represents and warrants that he or she is the parent or legal guardian of such child, and has the authority to provide information and render consents on behalf of such child. In the event you become aware that an individual under the age of 13 has enrolled without parental permission, please advise us immediately.</p>

<h4>Changes</h4>

<p>Mob Loyalty may update this Privacy Policy from time to time - we encourage you to review it periodically.</p>

<h4>Comments and Questions</h4>

<p>If you have any comments or questions about our privacy policy please contact us at contact@mobloyalty.com</p>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
  </div>
</div>