<% flash.each do |key, value| %>
                        <div id="error_explanation">
                          <div class="alert alert-danger"><%= value %>

                          </div>
                        </div>
                        <% end %>
